@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --background-rgb: 255, 255, 255;
    --text-rgb: 21, 23, 24;
    --background-second-rgb: 239, 239, 239;
    --background-third-rgb: 255, 255, 255;
}

.dark:root {
    --background-rgb: 15, 17, 29;
    --text-rgb: 255, 255, 255;
    --background-second-rgb: 36, 37, 58;
    --background-third-rgb: 14, 16, 28;
}

svg {
    width: inherit;
    height: inherit;
}

body {
    max-height: 100vh;
    scroll-behavior: smooth;
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--text-rgb));
}
html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-track {
    background-color: rgb(var(--background-rgb));
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(var(--background-second-rgb));
}

@layer components {
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    .scrollbar::-webkit-scrollbar {
        width: 5px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background-color: rgb(var(--background-rgb));
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: rgb(var(--background-second-rgb));
    }
}

.text-dot {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
