@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    color: inherit;
    width: inherit;
    height: inherit;
}

body {
    max-height: 100vh;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
}

.text-dot {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
