//variable
:root {
    --ff-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --bg-hover-sidebar: #fafafa;
    --text-color: #000;
    --white-color: #fff;
    --bg-input: #efefef;
    --blue-color: #0095f6;
    --width-sidebar-small: 73px;
    --width-sidebar: 245px;
}
