.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: var(--blue-color);
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: var(--ff-main);
    line-height: 1.2;
    column-gap: 6px;
    cursor: pointer;
    &:hover {
        background-color: #1a77f2;
    }
}
.text {
    background-color: transparent;
    color: var(--blue-color);
    &:hover {
        color: black;
        background-color: transparent;
    }
}
.disable {
    opacity: 0.5;
    pointer-events: none;
}
